{% extends '_layouts/admin.html.twig'%}

{% block title %} Add {% endblock %}
{% block h1 %} Add product{% endblock %}
{% block body %}
	<div class="container">
		<div class="pt-5 mb-5">
            <h3>Ajouter un produit</h3>
            <hr>
        </div>
        {{form_start(addForm)}}
        <div class=" mb-3">
            {{form_row(addForm.name)}}
        </div>
        <div class="mb-3">
            {{form_row(addForm.description)}}
        </div>
        <div class="mb-3">
            {{form_row(addForm.price)}}
        </div>
        <div class="mb-3">
            {{form_row(addForm.quantity)}}
        </div>
        <div class="mb-3">
            {{form_row(addForm.soldPrice)}}
        </div>
         <div class="mb-3">
            {{form_row(addForm.category)}}
        </div>
        <button type="submit" class="my-3 col btn btn-primary">OK</button>
        {{form_end(addForm)}}
	</div>
{% endblock %}