{% extends '_layouts/admin.html.twig'%}

{% block title %}Orders{% endblock %}
{% block h1 %} Manage Orders{% endblock %}

{% block body %}
{% if orders is empty  %}
    <h2 class="m-0 font-weight-bold text-primary">Vous n'avez aucune commande</h2>
    <a class="btn btn-info" href="{{path('admin_dashboard')}}">Add Order</a>

{% else %}
      <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">All orders</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Réference</th>
                                            <th>Date de création</th>
											<th>utilisateur</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Réference</th>
                                            <th>Date de création</th>
											<th>utilisateur</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
									{% for order in orders %}
                                        <tr>
                                            <td>{{order.id}}</td>
                                            <td>{{order.reference}} </td>
                                            <td>{{order.createdAt}}</td>
                                            <td>{{order.user.email}}</td>
                                            <td>
                                             <div class="d-flex mt-3">
                                                <a class="btn btn-info" href="{{path('admin_dashboard',{'id':order.id})}}">Edit</a>
                                                <a class="btn btn-primary" href="{{path('admin_dashboard',{'id':order.id})}}">Details</a>
                                                <form action="" method="post">
                                                    <input type="hidden" name="_token" value="{{csrf_token('delete'~ order.id)}}">
                                                    <button class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                                            </td>
										</tr>
									{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
    </div>
{% endif %}
{% endblock %}
