{% extends '_layouts/admin.html.twig'%}

{% block title %} Add {% endblock %}
{% block h1 %} Add order{% endblock %}
{% block body %}
	<div class="container">
		<div class="pt-5 mb-5">
            <h3>Ajouter une commande</h3>
            <hr>
        </div>
        {{form_start(addForm)}}
        <div class=" mb-3">
            {{form_row(addForm.reference)}}
        </div>
        <div class=" mb-3">
            {{form_row(addForm.user)}}
        </div>
        {# <div class=" mb-3">
            {{form_row(addForm.created_at)}}
        </div> #}
        <button type="submit" class="my-3 col btn btn-primary">OK</button>
        {{form_end(addForm)}}
	</div>
{% endblock %}