{% extends 'base.html.twig' %}

{% block title %}Details of
	{{product.name}}
{% endblock %}

{% block body %}
	<!-- Product section-->
	<section class="py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="row gx-4 gx-lg-5 align-items-center">
				{% if product.images is not empty %}
					<div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.images[0].name}}" alt="image du produit {{product.name}}"/></div>
				{% else %}
					<div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="{{product.name}}"/></div>
				{% endif %}

				<div class="col-md-6">
					<div class="small mb-1">SKU: BST-498</div>
					<h1 class="display-5 fw-bolder">{{product.name}}</h1>
					<div class="fs-5 mb-5">
						{% if product.soldPrice %}
							<span class="text-decoration-line-through">{{product.price}}
								€</span>
							<span>{{product.soldPrice}}€</span>
						{% else %}
							<span>{{product.price}}
								€</span>
						{% endif %}
					</div>
					<p class="lead">{{product.description}}</p>

					<form action="{{path('app_cart_add',{'id':product.id})}}" method="get">
					<div class="d-flex">
						<input class="form-control text-center me-3"name="quantity" id="inputQuantity" type="num" value="" style="max-width: 3rem"/>
						<button class="btn btn-outline-dark flex-shrink-0" type="submit">
							<i class="bi-cart-fill me-1"></i>
							Add to cart
						</button>
					</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Related items section-->
    {% if relatedProducts is not empty %}
	<section class="py-5 bg-light">
		<div class="container px-4 px-lg-5 mt-5">
			<h2 class="fw-bolder mb-4">Related products</h2>
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
				{% for product in relatedProducts %}
					{# {% for p in product.category.products|filter(p => p.id != product.id)|slice(0,2) %} #}
					<div class="col mb-5">
						<div
							class="card h-100">
                            {% if product.soldPrice %}
								<div class="badge text-white position-absolute" style="top: 0.1rem; right: 0.5rem">
									<span class="spinner-grow spinner-grow-sm text-danger" role="status" aria-hidden="true"></span>
									soon out of stock
								</div>
							{% endif %}
							<!-- Product image-->
							{% if product.images is not empty %}
								<img class="card-img-top" src="{{product.images[0].name}}" alt="image du produit {{product.name}}"/>
							{% else %}
								<img class="card-img-top " src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="{{product.name}}"/>
							{% endif %}
							<!-- Product details-->
							<div class="card-body p-4">
								<div
									class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">{{product.name}}</h5>
									<!-- Product price-->
									{% if product.soldPrice %}
										<span class="text-decoration-line-through">{{product.price}}
											€</span>
										<span>{{product.soldPrice}}€</span>
									{% else %}
										<span>{{product.price}}
											€</span>
									{% endif %}
								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center">
									<a class="btn btn-outline-dark mt-auto" 
                                    href="{{path('app_products_details', {'slug' : product.slug})}}">View options</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
    {% endif %}

{% endblock %}
